.header{
    background-color: #12263A;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mastermind-logo{
    margin-left: 20px;
    margin-top: 5px;
}
.search-bar{
    background-color: white;
    height: 40px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}