<div>
    <div class="nav">
        <a href="" class="boton"><img class="icon-btn" src="../../../../assets/svg/botones/misEquipos.svg" alt="misEquipos" width="40px" height="40px"></a>
        <a href="" class="boton"><img class="icon-btn" src="../../../../assets/svg/botones/profile.svg" alt="profile" width="40px" height="40px"></a>
        <a href="" class="boton"><img class="icon-btn" src="../../../../assets/svg/botones/business.svg" alt="businness" width="40px" height="40px"></a>
        <a href="https://mastermind-app.site/" class="boton"><img class="icon-btn" src="../../../../assets/svg/botones/logout.svg" alt="logout" width="40px" height="40px"></a>
    </div>
</div>