<div class="bg-nav">
    <img class="logo-nav" src="../../assets/img/mastermind-letra-b.png" alt="logo" height="150px" width="200px">
    <div class="nav">
        <a href="" class="boton"><img class="ico-btn" src="../../assets/svg/menu/inicio.svg" alt="" width="25px" height="25px">Inicio</a>
        <a href="" class="boton"><img class="ico-btn" src="../../assets/svg/menu/ordenes.svg" alt="" width="25px" height="25px">Ordenes</a>
        <a href="" class="boton"><img class="ico-btn" src="../../assets/svg/menu/inventario.svg" alt="" width="25px" height="25px">Inventario</a>
        <a href="" class="boton"><img class="ico-btn" src="../../assets/svg/menu/clientes.svg" alt="" width="25px" height="25px">Clientes</a>
        <a href="" class="boton"><img class="ico-btn" src="../../assets/svg/menu/proveedores.svg" alt="" width="25px" height="25px">Proveedores</a>
        <a href="" class="boton"><img class="ico-btn" src="../../assets/svg/menu/servicios.svg" alt="" width="25px" height="25px">Servicios</a>
        <a href="" class="boton"><img class="ico-btn" src="../../assets/svg/menu/ventas.svg" alt="" width="25px" height="25px">Ventas</a>
        <a href="" class="boton"><img class="ico-btn" src="../../assets/svg/menu/tecnicos.svg" alt="" width="25px" height="25px">Técnicos</a>
        <a href="" class="boton"><img class="ico-btn" src="../../assets/svg/menu/misEquipos.svg" alt="" width="25px" height="25px">Mis equipos</a>
    </div>
</div>